{"SDKconfig":"{\"m_type\":0,\"m_content\":\"{\\\"SchemeName\\\":\\\"GooglePlay\\\",\\\"LogScheme\\\":[{\\\"SDKName\\\":\\\"DataEyesService\\\",\\\"SDKContent\\\":\\\"{\\\\\\\"appId\\\\\\\":\\\\\\\"6647D8743AF49EA37F8A6FA99DDCC60A\\\\\\\",\\\\\\\"channelId\\\\\\\":\\\\\\\"GooglePlay\\\\\\\"}\\\"}],\\\"LoginScheme\\\":{\\\"SDKName\\\":\\\"NullLoginSDKClass\\\",\\\"SDKContent\\\":\\\"{}\\\"},\\\"ADScheme\\\":{\\\"SDKName\\\":\\\"ADMobService\\\",\\\"SDKContent\\\":\\\"{\\\\\\\"BannerAdUnitId\\\\\\\":\\\\\\\"ca-app-pub-9696025507576061/9808160434\\\\\\\",\\\\\\\"InterstitialUnitId\\\\\\\":\\\\\\\"ca-app-pub-9696025507576061/9110156435\\\\\\\"}\\\"},\\\"PayScheme\\\":{\\\"SDKName\\\":\\\"NullPaySDKClass\\\",\\\"SDKContent\\\":\\\"{}\\\"},\\\"OtherScheme\\\":[]}\",\"m_enumType\":\"\"}"}